<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: title('Main Feed')"></head>

<body>
	<div class="container">
		<nav th:replace="fragments/navbar"></nav>
		<h2>Tweets</h2>
		<ul class="nav nav-tabs">
			<li role="presentation"
				th:classappend="${filter == 'all' ? 'active' : '' }"><a href="/tweets">All</a></li>
			<li role="presentation"
				th:classappend="${filter == 'following' ? 'active' : '' }"><a href="/tweets?followers=true">Following</a></li>
		</ul>
		<br />
		<div th:replace="fragments/tweets :: tweetList"></div>
	</div>
</body>

</html>